<div class="contact-info">


<p>
    Email: 
    <a href="mailto:kunche.raju&#64;gmail.com" className="contact-link">
      kunche.raju&#64;gmail.com
    </a>
  </p>
  <p>
    Phone: 9030110695

  </p>
  <p>
 
    <a href="https://www.linkedin.com/in/i_am_raju_kunche" target="_blank" rel="noopener noreferrer" className="contact-link">
        LinkedIn:
    </a>
  </p>
  <p>
    <a href="https://github.com/rkunche" target="_blank" rel="noopener noreferrer" className="contact-link"> Github
    </a>
  </p>
</div>