<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand mx-3">My Profile</a>
    <div>
      <a class="nav-link d-inline text-white" routerLink="/">About</a>
      <a class="nav-link d-inline text-white" routerLink="/experience">Experience</a>
      <a class="nav-link d-inline text-white" routerLink="/skills">Skills</a>
      <a class="nav-link d-inline text-white" routerLink="/projects">Projects</a>
      <a class="nav-link d-inline text-white" routerLink="/contact">Contact</a>
    </div>
  </nav>
  <router-outlet></router-outlet>
  
